/*table{
border: solid black    
}*/
th{
    background-color:rgb(219, 97, 97);

}
tr{
    background-color:yellowgreen;
    height: 50px;
    width: 100px;
    transition-duration: 0.2s;
    border: 0px;
}
td{
    width: 200px;
    padding: auto;
    border-radius: 10px;

}
table{

    text-align: center;
    margin: auto;
    border-radius: 200px !important;
    /* border-collapse: collapse; */
}
tr:nth-child(2n){
    background-color:white;
}
tr:hover{
background-color:beige;

}
body{
    background-color: blanchedalmond;
}